@charset "utf-8";

/* CSS Document */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

#bodyPage {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

img.bg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	display: none;
}

.weixin {
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	z-index: 9999
}
